<%= form_for(@sop) do |f| %>
  <% if @sop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sop.errors.count, "error") %> prohibited this sop from being saved:</h2>

      <ul>
      <% @sop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date_created %><br />
    <%= f.datetime_select :date_created %>
  </div>
  <div class="field">
    <%= f.label :date_updated %><br />
    <%= f.datetime_select :date_updated %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :SOP_owner %><br />
    <%= f.text_field :SOP_owner %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
