<h1>Listing sops</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date created</th>
    <th>Date updated</th>
    <th>Version</th>
    <th>Sop owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sops.each do |sop| %>
  <tr>
    <td><%= sop.name %></td>
    <td><%= sop.date_created.strftime("%m/%d/%y") %></td>
    <td><%= sop.date_updated.strftime("%m/%d/%y") %></td>
    <td><%= sop.version %></td>
    <td><%= sop.SOP_owner %></td>
    <td><%= link_to 'Show', sop %></td>
    <td><%= link_to 'Edit', edit_sop_path(sop) %></td>
    <td><%= link_to 'Destroy', sop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sop', new_sop_path %>
